.habitQuittingQuestion {
  color: white;
  font-size: 1.4rem;
  margin-top: 20px;
}

.checkbox {
  margin-left: 10px;
  width: 15px;
  margin-top: 5px;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container {
  max-width: 790px;
  padding: 40px;
  border: 1px solid white;
}

.mainTitle {
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  color: white;
  border-bottom: solid 1px white;
}

.formBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}

.inputBox:nth-child(2n) {
  justify-content: end;
}

.inputBox {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 10px;
}

.inputBox label {
  color: white;
  font-size: 17px;
  margin: 5px 0;
}

.inputBox input {
  height: 35px;
  width: 96%;
  padding: 0 5px;
}

input::placeholder {
  font-size: 17px;
}

.unitInputBox {
  width: 50%;
  padding-bottom: 10px;
}

.unitInputBox p {
  color: white;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: -8px;
}

.unitInputBox input {
  display: block;
  height: 35px;
  padding: 0 5px;
  margin: 0 auto;
}

.unitInputBox input::placeholder {
  text-align: center;
  font-size: 17px;
}

.unitInputBox small {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.registerButton input {
  cursor: pointer;
}

.registerButton {
  margin-top: 20px;
}

.registerButton input {
  width: 18%;
  font-size: 18px;
  background-color: rgb(83, 199, 51, 0.7);
  border: 0;
  font-weight: 600;
  font-family: "Chakra Petch", sans-serif;
}

input.ng-touched.ng-invalid {
  border: 1.5px solid red;
}

small {
  color: rgb(189, 7, 7);
}

.text-center {
  font-size: 18px;
}

.hide {
  visibility: hidden;
}

@media (max-width: 768px) {
  .inputBox {
    width: 100%;
  }

  .inputBox:nth-child(2n) {
    justify-content: start;
  }

  .registerButton input {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .inputBox:nth-child(2n) {
    justify-content: start;
  }

  .container {
    padding: 20px;
  }

  .mainTitle {
    font-size: 18px;
  }

  .inputBox input {
    width: 93%;
  }

  .registerButton input {
    width: 70%;
  }
}