<label for="needReport" class="analyticReportQuestion d-flex justify-content-center">
  Do you want to generate an analytical report?
  <input class="checkbox" type="checkbox" id="needReport" name="needReport"
    [(ngModel)]="registerData.needReport" /></label>

<div class="registerButton d-flex justify-content-center mt-4" *ngIf="!registerData.needReport">
  <input type="submit" class="btn btn-light" style="width: 8%;" value="Confirm"
    (click)="isFirstTimeRegistering? onGeneratingReport(): onUpdatingGenerationOfReport()" />
</div>
<div class="mainDiv" *ngIf="registerData.needReport">
  <div class="container">
    <ng-container *ngIf="isFirstTimeRegistering; else registeredUser">
      <h1 class="mainTitle">Register a profile</h1>
    </ng-container>
    <ng-template #registeredUser>
      <h1 class="mainTitle">Update your profile</h1>
    </ng-template>
    <!-- to distinguish between update and create -->
    <form #registerForm="ngForm"
      (ngSubmit)="isFirstTimeRegistering ? onRegister(registerForm) : onUpdate(registerForm)">
      <div class="formBody">
        <div class="inputBox">
          <label for="province">Province</label>
          <input type="text" id="province" name="province" placeholder="Enter your province" required
            pattern="[a-zA-Z ]*" #msgRef2="ngModel" [(ngModel)]="registerData.province" />
          <small [class.hide]="!(msgRef2.touched && msgRef2.invalid)">Enter a valid province name!</small>
        </div>
        <div class="inputBox">
          <label for="city">City</label>
          <input type="city" id="city" name="city" placeholder="Enter your city" required pattern="[A-Za-z ]*"
            #msgRef1="ngModel" [(ngModel)]="registerData.city" />
          <small [class.hide]="!(msgRef1.touched && msgRef1.invalid)">Enter a valid city name!</small>
        </div>
        <div class="inputBox">
          <label for="postalCode">Postal Code</label>
          <input type="text" id="postalCode" name="postalCode" placeholder="Enter your postal code" required
            #msgRef3="ngModel" pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]"
            [(ngModel)]="registerData.postalCode" />
          <small [class.hide]="!(msgRef3.touched && msgRef3.invalid)">Enter a valid postal code!</small>
        </div>
        <div class="inputBox">
          <label for="age">Age</label>
          <input type="number" id="age" name="age" placeholder="Enter your age" required min="1" max="100"
            #msgRef4="ngModel" [(ngModel)]="registerData.age" />
          <small [class.hide]="!(msgRef4.touched && msgRef4.invalid)">Enter a valid age!</small>
        </div>

        <div>
          <span class="genderHeading">Gender</span>
          <div class="genderOptions d-flex">
            <div *ngFor="let gender of genders">
              <input type="radio" [name]="gender.name" [id]="gender.id" [value]="gender.value" required
                [(ngModel)]="registerData.sex" />
              <label for="gender.id">{{ gender.value }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="registerButton d-flex justify-content-center" *ngIf="isFirstTimeRegistering">
        <input type="submit" class="btn btn-light" value="Create" [disabled]="!registerForm.form.valid" />
      </div>
      <div class="registerButton d-flex justify-content-center" *ngIf="!isFirstTimeRegistering">
        <input type="submit" class="btn btn-light" value="Update" [disabled]="!registerForm.form.valid" />
      </div>
    </form>
  </div>
</div>