<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container-fluid">
    <img src='assets/images/logo.png' class="me-2" [ngStyle]="{ 'width': '30px' }" alt="image not found" />
    <a class="habitfy navbar-brand" [routerLink]="'/home'">HabitFY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHabitfy"
      (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarHabitfy" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarHabitfy">
      <div class="row mx-auto">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="'/register'">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/'">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/'">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/'">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="signOut()" >Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>