.navbar-brand {
    color: whitesmoke;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
}

.nav-link {
    color: whitesmoke;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 15px;
}

li {
    margin: 0px 40px 0px 0px;
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.nav-link:hover {
    text-decoration: underline;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    transform: scaleY(1.01);
}

button {
    font-size: 0.8rem;
    padding: 0.25rem 0.4rem;
}

nav{
    padding: 0rem;
    background-color: black;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 15px;
    }

    .nav-link {
        font-size: 12px;
    }
}