<div class="container">
  <div class="row">
    <p class="title"> We Are HabitFY</p>
    <div class="col-4">
      <p class="description">
        Welcome to HabitFY, your stepping stone towards better living.
        Be it beating a unhealthy vice or trying to gain a helpful habit,
        we here at HabitFY want to be a part of your journey.
      </p>
      <br>
      <p class="description">
        Our goal is simple: to allow individuals like you to take control
        your life to create a better you. Perhaps you would like to start
        extercising regularly, improve your art skills, or even something
        as simple as making sure you are drinking enough water, HabitFy
        will be with you each step of the way.
      </p>
      <br>
      <p class="description">
        So why wait? Start your climb to better living with us here at
        HabitFy!
      </p>
    </div>
    <div class="col">
      <img src="assets/images/landingPagePic.png" class="img-fluid">
    </div>
  </div>
  <p class="solid"> </p>
</div>

<div class="container">
  <div class="row">
    <p class="title"> Meet the Team</p>
    <div class="col-lg">
      <img class="rounded-circle" src="assets/images/anson.jpg" alt="Generic placeholder image" width="140"
        height="140">
      <h2 class="description-header">Anson Hammell</h2>
      <h3 class="member-description">Project Manager</h3>
      <p class="member-description">Coming from working in multiple service roles for internal and external users, Anson
        believes in fostering a culture of collaboration, accountability, and teamwork. He understands the importance of
        building strong relationships with team members, stakeholders, and clients, and excels in motivating and
        inspiring others to achieve their full potential.</p>
    </div>
    <div class="col-lg">
      <img class="rounded-circle" src="assets/images/zhaokai.jpg" alt="Generic placeholder image" width="140"
        height="140">
      <h2 class="description-header">Zhaokai Guan</h2>
      <h3 class="member-description">Technical Lead</h3>
      <p class="member-description">With a passion for technology and a commitment to excellence, Zhaokai is a seasoned
        Tech Lead known for driving projects from conception to successful implementation.</p>
    </div>
    <div class="col-lg">
      <img class="rounded-circle" src="assets/images/sujan.jfif" alt="Generic placeholder image" width="140"
        height="140">
      <h2 class="description-header">Sujan Maharjan</h2>
      <h3 class="member-description">Front-end Developer Lead</h3>
      <p class="member-description">With his prior experience as a full-stack developer, he is excellent at developing
        websites using various technologies, especially the front end. For the HabitFY application, he utilized Angular
        and Amazon Cognito to develop a robust and secure front-end aspect of this application. Due to his web
        development expertise, he was able to be an important part of developing the HabitFY application.</p>
    </div>
  </div>
  <p class="solid"> </p>
</div>