

<div class="container">
    <div class="row">
        <p class="title"> We Are HabitFY</p>
      <div class="col-4">
        <p class="description">
            Be it beating a unhealthy vice or trying to gain a helpful habit.
            We here at HabitFY want to be a stepping stone in your path to
            better living!
        </p>
      </div>
      <div class="col">
        <img src="assets/images/landingPagePic.png" class="img-fluid">
      </div>
    </div>
    <p class="solid"> </p>
  </div>

<div class="container">
        <div class="row">
          <p class="title"> Meet the Team</p>
          <div class="col-lg-3">
            <img class="rounded-circle" src="assets/images/landingPagePic.png" alt="Generic placeholder image" width="140" height="140">
            <h2 class="description-header">Zhaokai Guan</h2>
            <h3 class="member-description">Project Developer</h3>
            <p class="member-description">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-lg-3">
            <img class="rounded-circle" src="assets/images/landingPagePic.png" alt="Generic placeholder image" width="140" height="140">
            <h2 class="description-header">Sujan Maharjan</h2>
            <h3 class="member-description">Team Member Info</h3>
            <p class="member-description">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-lg-3">
            <img class="rounded-circle" src="assets/images/landingPagePic.png" alt="Generic placeholder image" width="140" height="140">
            <h2 class="description-header">Amit Prashar</h2>
            <h3 class="member-description">Team Member Info</h3>
            <p class="member-description">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-lg-3">
            <img class="rounded-circle" src="assets/images/landingPagePic.png" alt="Generic placeholder image" width="140" height="140">
            <h2 class="description-header">Anson Hammell</h2>
            <h3 class="member-description">Project Manager</h3>
            <p class="member-description">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
        </div>
</div>