<app-home-user-profile></app-home-user-profile>
<div class="container">
    <div>
        <span class="currentDate d-flex justify-content-center">
            {{ currentDate }}
        </span>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <app-habits-card></app-habits-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <app-dailies-card></app-dailies-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">

        </div>
    </div>
</div>