<div class="container">
    <div class="row justify-content-center">
        <div class="mainDiv col-lg-6 col-md-8 col-sm-12 d-flex flex-column align-items-center justify-content-center"
            style="min-height: 100vh;">
            <p class="habitFY">HabitFY</p>
            <p class="description">HabitFY is a habit tracking web application for Seneca College community to help
                users form habits and succeed on their wellness journey.</p>
            <button class="btn btn-light" (click)="onLogin()">Login/Register</button>
        </div>
        <div class="col-lg-6 col-md-3 d-none d-md-flex justify-content-center align-items-center">
            <img src="assets/images/landingPagePic.png" class="img-fluid">
        </div>
    </div>
</div>