.mainDiv {
    color: white;
}

.habitFY {
    font-size: 3.5rem;
    font-weight: bold;
}

div button {
    font-size: 19px;
    background-color: rgb(83, 199, 51, 0.7);
    border: 0;
    font-weight: 600;
}

.description {
    font-size: 18px;
    margin-top: 5px;
}

img {
    width: 650px;
}