<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12 mb-2 mb-md-0 imgNameBar">
          <div class="imageAndName d-flex">
            <div class="avatar">
              <ng-container *ngIf="registerData.sex === 'Male'; else otherGender">
                <img class="rounded-circle" src='assets/images/maleAvatar.png' alt="Male avatar" />
              </ng-container>

              <ng-template #otherGender>
                <ng-container *ngIf="registerData.sex === 'Female'; else defaultAvatar">
                  <img class="rounded-circle" src='assets/images/femaleAvatar.png' alt="Female avatar" />
                </ng-container>
              </ng-template>

              <ng-template #defaultAvatar>
                <img class="rounded-circle" src='assets/images/astronautAvatar.png' alt="Default avatar" />
              </ng-template>
            </div>
            <div>
              <p class="card-title">{{userId}}</p>
              <ng-container *ngIf="(userDailyStatistics.data?.reachedGoalStreak ?? 0) <= 25">
                <p class="card-subtitle mb-2 text-muted"
                  matTooltip="Your rank is determined by your goal streak: 'Dreamer' for streaks below 26, 'King's Guard' for 26-50, 'Gladiator' for 51-300, and 'Terminator' for streaks over 300.">
                  {{ ranks[0].name }}</p>
              </ng-container>
              <ng-container
                *ngIf="(userDailyStatistics.data?.reachedGoalStreak ?? 0) >= 26 && (userDailyStatistics.data?.reachedGoalStreak ?? 0) <= 50">
                <p class="card-subtitle mb-2 text-muted"
                  matTooltip="Your rank is determined by your goal streak: 'Dreamer' for streaks below 26, 'King's Guard' for 26-50, 'Gladiator' for 51-300, and 'Terminator' for streaks over 300.">
                  {{ ranks[1].name }}</p>
              </ng-container>
              <ng-container
                *ngIf="(userDailyStatistics.data?.reachedGoalStreak ?? 0) >= 51 && (userDailyStatistics.data?.reachedGoalStreak ?? 0) <= 300">
                <p class="card-subtitle mb-2 text-muted"
                  matTooltip="Your rank is determined by your goal streak: 'Dreamer' for streaks below 26, 'King's Guard' for 26-50, 'Gladiator' for 51-300, and 'Terminator' for streaks over 300.">
                  {{ ranks[2].name }}</p>
              </ng-container>
              <ng-container *ngIf="(userDailyStatistics.data?.reachedGoalStreak ?? 0) >= 301">
                <p class="card-subtitle mb-2 text-muted"
                  matTooltip="Your rank is determined by your goal streak: 'Dreamer' for streaks below 26, 'King's Guard' for 26-50, 'Gladiator' for 51-300, and 'Terminator' for streaks over 300.">
                  {{ ranks[3].name }}</p>
              </ng-container>
              <p class="mb-2 text-muted" style="margin-top: -10px; font-size: 13px;">Goal Streak:
                {{userDailyStatistics?.data?.reachedGoalStreak ?? 0}}</p>
            </div>
          </div>
          <div *ngFor="let p of progress" class="progress-container">
            <p class="progress-name">{{ p.name }}</p>
            <div class="progress-wrapper">
              <div class="progress">
                <div class="progress-bar"
                  [ngStyle]="{'width': p.load ? p.percentage + '%' : '0', 'background-color': p.color}">
                </div>
              </div>
              <p class="percentage-value">{{ p.load ? p.percentage + '%' : '' }}</p>
            </div>
          </div>
        </div>
        <div class="myStats col-md-4 col-12 mb-2 mb-md-0">
          <p class="statsTitle list-group-item text-center pt-2" style="margin-bottom: 15px;">Stats based on your area
          </p>
          <div *ngFor="let p of progress_2" class="progress-container_2">
            <p class="progress-name">{{ p.name }}</p>
            <div class="progress-wrapper">
              <div class="progress" matTooltip="{{p.info}}">
                <div class="progress-bar"
                  [ngStyle]="{'width': p.load ? p.percentage + '%' : '0', 'background-color': p.color}">
                </div>
              </div>
              <p class="percentage-value">{{ p.load ? p.percentage + '%' : '' }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 mb-2 mb-md-0">
          <div class="row h-100">
            <div class="col d-flex flex-column justify-content-center align-items-center">
              <div class="quotes">
                <p class="displayedQuote text-center">"{{ currentQuote.quote }}"- {{currentQuote.author}}</p>
                <div class="circle mx-auto" (click)="toChangeMotivation()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>