<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12 mb-2 mb-md-0 imgNameBar">
          <div class="imageAndName d-flex">
            <div class="avatar">
              <img class="rounded-circle" src='assets/images/maleAvatar.png' alt="image not found" />
            </div>
            <div>
              <p class="card-title">John Doe</p>
              <p class="card-subtitle mb-2 text-muted">Dream Caster</p>
            </div>
          </div>

          <div *ngFor="let p of progress" class="progress-container">
            <p class="progress-name">{{ p.name }}</p>
            <div class="progress-wrapper">
              <div class="progress">
                <div class="progress-bar"
                  [ngStyle]="{'width': p.load ? p.percentage + '%' : '0', 'background-color': p.color}">
                </div>
              </div>
              <p class="percentage-value">{{ p.load ? p.percentage + '%' : '' }}</p>
            </div>
          </div>
        </div>
        <div class="myMainGoals col-md-4 col-12 mb-2 mb-md-0 d-flex align-items-center">
          <ul class="list-group w-100 no-border">
            <li class="goalsTitle list-group-item text-center pt-2">My Main Goals</li>
            <ng-container *ngFor="let g of mainGoals">
              <li class="sub-list list-group-item list-group-item text-center no-border">{{ g.goal }}</li>
            </ng-container>
            <li *ngIf="mainGoals.length === 0" class="sub-list list-group-item text-center no-border">No goals available
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-12 mb-2 mb-md-0">
          <div class="row h-100">
            <div class="col d-flex flex-column justify-content-center align-items-center">
              <div class="quotes">
                <p class="displayedQuote text-center">"{{ currentQuote.quote }}"- {{currentQuote.author}}</p>
                <div class="circle mx-auto" (click)="toChangeMotivation()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>